<!DOCTYPE html>
<html>
    <head>
        <title>Pet Finder</title>
    </head>

    <body>
        <h1> Pet Finder</h1>

        {% if registered %}

        <a href="/principal/">Volver a pagina de inicio.</a><br />

        {% else %}

        <strong>Ingresa tus datos de contacto</strong><br />
        <form id="user_form" method="post" action="/principal/details/"
                enctype="multipart/form-data">
            {% csrf_token %}
            {{ data.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}


    </body>

</html>