{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
   <head>
        <meta charset="utf-8">
        <title>Dogs</title>
        <style>
            #map-canvas {
                height: 600px;
            }
        </style>
    </head>
    <div id="map-canvas"></div>

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
        <script type="text/javascript">

            function initialize() {
                var map = new google.maps.Map(document.getElementById('map-canvas'));
                var bounds = new google.maps.LatLngBounds();

                function addMarker(lat, lng, title, detail, image, id) {
                    var position = new google.maps.LatLng(lat, lng);

                    /*console.log(lat, lng, title, detail, typeof lat, typeof lng, typeof title, typeof detail);*/

                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: title
                    });
                    var contentString = '<div id="content">'+
                    '<h1 id="firstHeading" class="firstHeading">'+title+'</h1>'+
                    '<div id="bodyContent">'+
                    '<p>'+ detail+'</p>'+
                        '<p><a href="post/'+id+'">'+
                    'Ver post completo</a> '+

                    '</div>'+
                                     '<div>'+
                                    '<img src="media/'+image+'" width="50%" height="50%"/>'+
                     '</div>'+
                            '</div>';
                    var windowinfo = new google.maps.InfoWindow({
                        content: contentString

                    });

                    marker.addListener('click', function() {
                        windowinfo.open(map, marker);
                    });

                    bounds.extend(position);
                }
                {% for point in points %}
                    function myFunction(a) {
                    return a.replace(",",".");
                    }
                    var lat = myFunction('{{ point.post_picture.position.latitude }}');
                    var lon = myFunction('{{ point.post_picture.position.longitude }}');
                    addMarker(lat, lon, "{{ point.post_picture.title }}", "{{ point.post_picture.detail }}", "{{ point.picture }}", "{{ point.post_picture.id }}");

                {% endfor %}
                map.fitBounds(bounds);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
{% endblock %}


